html, body{

    margin: 0;
    padding: 0;
    font-family: sans-serif;
    }
    * {
    box-sizing: border-box;
    }
    img {
    width: 100%;
    height: auto;
    }

body{
  background:url(./images/25.png), linear-gradient(to right, rgba(224, 224, 224, 0.8), rgba(224,224,224,.8));
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  
}

/* .two{
    color:rgb(182, 0, 127);
    opacity: 80%;
} */

/* .five{
    color:rgb(0, 131, 207);
    
    
} */

/* .two, .five{
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: -1;
} */


.wrapper {
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: repeat(5,1fr);
    
}

/* style.css | file:///Users/lordonezwebb/Documents/GitHub/Poster-Project/style.css */

/* .two, .five {
    font-size: 100vw;
    margin: 0;
    text-align: center;
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 3;
  } */
  
  /* Inline #1 | file:///Users/lordonezwebb/Documents/GitHub/Poster-Project/index.html */
  
  .left {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  
  .middle {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  
  .right {
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  
  .title{
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 1;
      grid-row-end: 2;
  }
